*
{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

html {font-size: 1.125em;}

body
{
  padding: 50px;
  font-family: Georgia, serif;
  font-weight: 300;
  line-height: 1.8;
  background-color: #ecf0f1;
  color: #333;
}

img {
  max-width: 100%;
}

/* CSS-for-APA-Style-references */
/* https://github.com/bertobox/CSS-for-APA-Style-references */
.apa,.apa ul,.apa ol,.apa dl,.ref-apa,.ref-apa ul,.ref-apa ol,.ref-apa dl,.apa-ref,.apa-ref ul,.apa-ref ol,.apa-ref dl,.refapa,.refapa ul,.refapa ol,.refapa dl,.aparef,.aparef ul,.aparef ol,.aparef dl{padding-left:0;margin-left:0;}
.apa li,.ref-apa li,.refapa li,.apa-ref li,.aparef li{list-style-type:none;}
.apa p,.apa li,.apa dd,.ref-apa p,.ref-apa li,.ref-apa dd,.refapa p,.refapa li,.refapa dd,.apa-ref p,.apa-ref li,.apa-ref dd,.aparef p,.aparef li,.aparef dd{margin-left:2em;text-indent:-2em;margin-top:1em;margin-bottom:1em;}


#sidebar
{
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  padding: 50px 25px;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(-250px, 0, 0);
  -moz-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
  width: 275px;
  height: 100%;
  border-right: 1px solid #303030;
  line-height: 1.5em;
  background: #2c3e50;
  color: #f0f0f0;
  font-size: 0.9em;

  font-family: Helvetica, sans-serif;
}

#sidebar:hover, #sidebar.hover
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#sidebar:hover + #container, #sidebar.hover + #container
{
  -webkit-transform: translate3d(175px, 0, 0);
  -moz-transform: translate3d(175px, 0, 0);
  -o-transform: translate3d(175px, 0, 0);
  -ms-transform: translate3d(175px, 0, 0);
  transform: translate3d(175px, 0, 0);
}

#sidebar #menu, #toc
{
  margin-bottom:1em;
}

#sidebar a
{
  color: #f0f0f0;
  text-decoration: none;
  cursor: pointer;
}

#sidebar ul
{
  margin: 0;
  padding: 0;
}

#sidebar li
{
  list-style: none;
}

#sidebar li.toc-H3
{
  padding-left: 1em;
}
#sidebar span.title
{
  color: #e67e22;
  font-weight: bold;
}
#sidebar .toc-H3 a
{
  color: #B1B1B1;
}

#container, #sidebar {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* - Semi responsive container - */
/* - Also for IE5.5+ - */
#container
{
  margin-left: 75px;
  max-width: 580px;
  width: auto !important;
  width: 500px;
}

/* Type-scale 'perfect-fourth' from http://type-scale.com
 * http://type-scale.com/?size=18&scale=1.333&text=A%20Visual%20Type%20Scale&webfont=&font-family=Georgia%2C%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333 */

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 300;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}

sup
{
  line-height: 1em;
}

/* Print */

@media print
{
  body
  {
    color: black;
    background: none;
    text-shadow: none;
  }

  #sidebar
  {
    display: none;
  }
}

@page {
  size: 7in 9.25in;
  margin: 27mm 16mm 27mm 16mm;
}

@page :left {
  @top-left {
    content: normal;
  }

  @bottom-left {
    content: normal;
  }
}

@page :right {
  @top-right {
    content: normal;
  }

  @bottom-right {
    content: normal;
  }
}

@page content :right {
  @top-right {
    content: string(header, first);
  }

  @bottom-right {
    content: counter(page);
  }
}
